.juus
  position relative
  display flex
  justify-content center
  align-items center
  width 100%
  height 100%

  .juus-wrapper
    overflow hidden
    position relative
    z-index 2
    display flex
    width 1050px
    height 640px
    border-radius 10px
    background rgba(200, 200, 200, 0.5)
    box-shadow 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(0, 0, 0, 0.5)
    backdrop-filter blur(30px)

    *::-webkit-scrollbar
      width 0
      height 0

    .image
      position relative
      width 650px
      height 640px

      .logo
        position absolute
        top 0
        left 0
        width 180px
        border-top-left-radius 10px
        user-select none

      .img-wrapper
        position absolute
        top 50px
        left 70px
        overflow hidden
        width 500px
        height 500px
        border-radius 5px
        cursor pointer

      .img
        position absolute
        top 0
        left 50%
        height 100%
        transform translateX(-50%)
        user-select none

      .icon-left
        position absolute
        bottom 40px
        left 70px
        display flex
        align-items center

        .icon
          width 32px
          height 32px
          user-select none

        .like
          margin-right 25px
          width 43px
          height 42px
          cursor pointer

      .icon-right
        position absolute
        right 75px
        bottom 45px
        user-select none

      .text-left
        position absolute
        bottom 10px
        left 75px
        color #fff
        font-size 20px
        user-select none

      .text-right
        position absolute
        right 75px
        bottom 15px
        color #fff
        font-size 18px
        user-select none

      &:hover
        .save-all
          opacity 1
          transform translateX(0)

.back
  position absolute
  bottom 10px
  left 30px
  z-index 9
  display flex
  flex-direction column
  align-items center
  align-content center
  width 55px
  cursor pointer

  img
    width 100%

  span
    margin-top 5px
    color #eee
    font-size 24px
