.content
  display flex
  flex 1
  flex-direction column
  overflow-x hidden
  overflow-y auto
  width 400px
  border-radius 0 10px 10px 0
  background #eff7ff
  box-shadow -1px 0 5px rgba(0, 0, 0, 0.5)

  .info-wrapper
    position sticky
    top 0
    z-index 9
    width 100%
    border-radius 0 0 25px 25px
    background #fff
    box-shadow 0 3px 20px 0px rgba(0, 0, 0, 0.5)

    .tip
      position absolute
      top 5px
      right 5px
      color #85a7ff
      user-select none

    .info
      display flex
      align-items center
      height 120px

      .sep
        margin 0 10px 0 15px

      .name
        display flex
        margin-right 10px
        max-width 200px
        font-weight bold
        font-size 20px

        .name-text
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

  .text-wrapper
    position sticky
    top 120px
    z-index 8
    padding-bottom 5px
    background #eff7ff

    .text
      margin 10px 2px 0 0
      padding 20px 25px 30px
      font-size 18px

    .line
      box-sizing border-box
      margin-left 10%
      width 90%
      border 1px solid #999
      transform scaleY(0.1)

  .comment-list
    flex 1
    background #eff7ff
    color #a1a1a2

    .comment-card
      position relative
      display flex
      flex-direction column
      box-sizing border-box
      margin 12px 5px 12px 15px
      padding 15px
      width 380px
      border-radius 5px
      background #fff

      &:hover
        .comment-del
          opacity 1

      .comment
        display flex
        flex 1

        .name
          color #000
          font-weight bold

      .comment-del
        position absolute
        top 10px
        right 10px
        font-size 20px
        opacity 0
        cursor pointer
        transition opacity 0.25s
        user-select none

        &:hover
          opacity 1

      .reply-num-wrapper
        display flex
        justify-content space-between
        align-items center
        margin-bottom 10px
        height 30px
        font-size 14px
        user-select none

        .reply-num
          display flex
          align-items center

          img
            cursor pointer

          .text
            margin-left 5px

      .reply-list
        display flex
        flex-direction column

        .reply
          position relative
          display flex
          padding 5px 0px 5px 65px
          -webkit-user-drag element

          &:hover
            .reply-del
              opacity 1

          .reply-del
            position absolute
            top 0
            right 5px
            font-size 20px
            opacity 0
            cursor pointer
            transition opacity 0.25s
            user-select none

            &:hover
              opacity 1

          .reply-item
            flex 1
            margin-right 15px

            .name
              color #000
              font-weight bold

  .add-comment
    position sticky
    bottom 0
    display flex
    justify-content space-between
    align-items center
    width 100%
    height 60px
    background #fff
    box-shadow 0 -1px 2px 0px rgba(0, 0, 0, 0.3), 0px -10px 30px 5px rgba(255, 255, 255, 0.8)

    .left
      display flex
      flex 1
      align-items center
      height 60px

      .input
        padding 5px 10px
        width 240px
        height 26px
        border none
        color #666
        font-size 20px

    .right
      display flex
      justify-content center
      align-items center
      margin-right 10px
      width 40px
      cursor pointer
      user-select none

      img
        width 100%

.comment-text
  white-space break-spaces
  word-break break-all

// .scroll
//   overflow-y auto !important
