.juus
  position relative
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center

  .bg
    z-index 1
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    filter blur(10px)
    cursor pointer
    user-select none

    img
      position absolute
      top 0
      left 50%
      transform translateX(-50%)
      height 100%

  .juus-wrapper
    z-index 2
    overflow hidden
    width 1050px
    height 640px
    background rgba(200, 200, 200, 0.5)
    box-shadow 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(0, 0, 0, 0.5)
    border-radius 5px
    display flex

    *::-webkit-scrollbar
      width 0
      height 0

    .image
      width 650px
      height 640px
      position relative

      .logo
        position absolute
        top 0
        left 0
        width 180px
        user-select none

      .img-wrapper
        overflow hidden
        position absolute
        top 50px
        left 70px
        height 500px
        width 500px
        cursor pointer
        border-radius 5px

      .img
        position absolute
        top 0
        left 50%
        transform translateX(-50%)
        height 100%
        user-select none

      .icon-left
        position absolute
        bottom 45px
        left 70px

        .icon
          width 32px
          height 32px
          user-select none

        .like
          margin-right 25px
          cursor pointer

      .icon-right
        position absolute
        bottom 45px
        right 75px
        user-select none

      .text-left
        position absolute
        bottom 10px
        left 70px
        font-size 20px
        color #fff
        user-select none

      .text-right
        position absolute
        bottom 15px
        right 75px
        font-size 18px
        color #fff
        user-select none

      &:hover
        .save-all
          opacity 1
          transform translateX(0)

    .content-wrapper
      z-index 3
      overflow hidden

      &:hover
        ~.save-right
          opacity 1
          transform translateX(0)

.back
  display flex
  flex-direction column
  align-content center
  align-items center
  position absolute
  left 30px
  bottom 10px
  width 55px
  cursor pointer

  img
    width 100%

  span
    margin-top 5px
    color #eee
    font-size 24px

.menu-icon
  position fixed
  top 44px
  height 35px
  padding 2px
  background #fff
  background linear-gradient(to right, #fff, transparent)
  border-radius 5px 0 0 5px
  opacity 0
  transform translateX(100%)
  transition all 0.2s
  user-select none
  cursor pointer

  &:hover
    opacity 1
    transform translateX(0)

  img
    height 100%

.save-all
  z-index -1
  left 74px

.save-right
  z-index 1
  left 724px

.hide
  display none
