@keyframes first
  from
    filter blur(10px)
    opacity 0

html
  animation first 0.5s

body
  overflow hidden
  margin 0

img
  -webkit-user-drag none

input
  border 2px solid #ddd

::placeholder
  color #dfdfdf

.chosen
  cursor grabbing

  .del
    opacity 0 !important

  &:before
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    box-sizing border-box
    border 3px solid rgba(0, 0, 0, 0.2)
    border-radius 10px
    content ''

.hidden
  overflow hidden !important

.fallback
  display none !important

@keyframes fade
  from
    opacity 0

  to
    opacity 1

.fade-enter-active
.fade-leave-active
  transition all 0.3s

.fade-enter-from
.fade-leave-to
  opacity 0

.fade-enter-to
.fade-leave-from
  opacity 1

.slide-enter-active
.slide-leave-active
  transition all 0.3s

.slide-enter-from
.slide-leave-to
  transform translateX(100%)

.slide-enter-to
.slide-leave-from
  transform translateX(0)

.enter-enter-active
.enter-leave-active
  transition all 0.6s

.enter-enter-from
.enter-leave-to
  filter blur(50px)

.enter-enter-to
.enter-leave-from
  filter none
